* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: rgb(252, 129, 131);
  font-weight: 900;
  color: black;
  border: 0.25rem solid rgba(255, 97, 100, 1);

  &:hover {
    background-color: rgba(255, 97, 100, 1);
    border: 0.25rem solid rgb(252, 129, 131);
  }
}

.border {
  border-bottom: 4px solid;
  border-image: linear-gradient(
    45deg,
    rgba(65, 89, 208, 1) 0%,
    rgba(200, 79, 192, 1) 50%,
    rgba(255, 205, 112, 1) 100%
  );
  border-image-slice: 1;
}

.main {
  background-color: rgb(46, 46, 46);
  min-height: 100vh;
  display: grid;
  place-content: center;
  
}

.header{
  padding: 1rem;
  border-bottom: .25rem solid;
  border-image: linear-gradient(45deg, rgba(65, 89, 208, 1.000) 0.000%, rgba(200, 79, 192, 1.000) 50.000%, rgba(255, 205, 112, 1.000) 100.000%) ;
  border-image-slice: 1;
  background-color: rgb(43, 43, 43);
}